.jqueryHashtags {
	position:relative;
}

.jqueryHashtags .highlighter{
	white-space: pre-wrap;
	color:transparent;
	overflow: hidden; 
	position: absolute;
	padding-left:10px;
	padding-top:5px; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:20px;
    overflow: hidden;
    box-sizing: border-box;
}

.jqueryHashtags .offseter{
	position:relative;
}

.jqueryHashtags .theSelector{
	background-color: transparent; 
	position: relative; 
	direction: ltr; 
	font-size:14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	resize:none !important;
	-webkit-transition: height 0.2s;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 6px;
	vertical-align:middle;
	min-height:48px !important;
	line-height:20px;
}

.jqueryHashtags .inline_hashtag{
	background: -webkit-linear-gradient(#dce6f8, #bdcff1);
	border-radius: 2px;
	box-shadow: 0 0 0 1px #a3bcea;
	font-size:14px;
	white-space: pre-wrap;
	line-height:20px;
}

.hashtag-suggestions-container {
	position:absolute;
	display:none;
	max-height:200px;
	overflow-y:auto;
}

.hashtag-suggestion:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.hashtag-suggestion:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom:thin solid black;
}

.hashtag-suggestion {
	padding-left:2px;
	padding-right:2px;
	border:thin solid black;
	border-bottom:none;
	background-color:white;
}

.hashtag-suggestion.focused {
	background:cornflowerblue;
}
